<div class="to_comment">
	<%= form_for comment, :html => {:autocomplete => 'off', :role => "form"} do |f| %>
		<%= f.hidden_field :book_id, :value => comment.book_id %>
		<div class="form-group">
			<%= f.text_field :name, class:"form-control", placeholder: "Name" %>
		</div>
		<div class="form-group">
			<%= f.text_field :email, class:"form-control", placeholder: "Email" %>
		</div>
		<%= f.text_area :content, class: "form-control", placeholder: "Content" %>
		<%= f.submit "Send", class: "btn btn-primary" %>	
	<% end %>
</div>