<h1>Listing comments</h1>
<table class="table table-bordered table-hover">
  <tr class="info">
    <td>Email</td>
    <td>Name</td>
    <td>Content</td>
    <td>Premoderation</td>
    <td>Date</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @comments.each do |comment| %>
  <% if comment.premoderation %>
  <tr class="success">
  <% else %>
  <tr class="danger">
  <% end %>
      <td><%= comment.email %></td>
      <td><%= comment.name %></td>
      <td title="<%= comment.content %>"><%= truncate(comment.content, length: 50) %></td>
      <% unless comment.premoderation %>
        <td><%= link_to 'Moderated', moderated_comment_path(comment), :class => "moderated btn btn-success", remote: true %></td>
      <% else %>
        <td><%= comment.premoderation %></td>
      <% end %>
      <td><%= comment.created_at %></td>
      <td><%= link_to 'Show', comment %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>