<div class="form-group">
  <%= f.label :username, class: 'control-label' %>
  <%= f.email_field :username, :autofocus => true, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, class: 'control-label' %>
  <%= f.email_field :email, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :password, class: 'control-label' %>
  <%= f.password_field :password, :autocomplete => "off", class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, class: 'control-label' %>
  <%= f.password_field :password_confirmation, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :role, class: 'control-label' %>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize, class:"form-control" %>
</div>