<% @comments.each do |comment| %>
  <% if comment.premoderation %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="nav">
          <li><h3 class="text-primary"><%= comment.name %></h3></li>
          <li><h4><small><%= comment.created_at %></small></h4></li>
        </ul>
      </div>
      <div class="panel-body">
        <p><%= comment.content %></p>
      </div>
        <% if can? :update, @comment %>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
    </div>
  <% end %>
<% end %>