<h1>Listing books</h1>
<%= link_to 'New Book', new_book_path %>
<table class="table table-bordered table-hover">
  <tr class="info">
    <td>Avatar</td>
    <td>Title</td>
    <td>Author</td>
    <td>Description</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @books.each do |book| %>
  <tr class="warning">
      <td><%= image_tag book.avatar.url, class:"img-thumbnail small" %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td title="<%= book.description %>"><%= truncate(book.description, length: 50) %></td>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>