<p id="notice"><%= notice %></p>
<div class="jumbotron">
    <div class="row">
      <div class="col-xs-6 col-md-4">
      <%= image_tag @book.avatar.url, class:"img-thumbnail" %>
      </div>
      <div class="col-xs-12 col-md-8">
      <h2><%= @book.title %></h2>
      <p class="text-muted"><%= @book.author %></p>
      <p><%= @book.description %></p>
      </div>
    </div>

<div>
  <h4>Comments:</h4>
  <% @book.comments.each do |comment| %>
    <% if comment.premoderation? %>
    <div>
      <%= comment.email %>
      <%= comment.name %>
      <%= comment.content %>
    </div>
    <% end %>
  <% end %>
</div>
    
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>