<% @books.each do |book| %>
	<div class="jumbotron">
		<div class="row">
		  <div class="col-xs-6 col-md-4">
			<%= image_tag book.avatar.url, class:"img-thumbnail" %>
		  </div>
		  <div class="col-xs-12 col-md-8">
			<h2><%= link_to book.title, book %></h2>
			<p class="text-muted"><%= book.author %></p>
			<p><%= book.description %></p>
			<h3><small>Comments: <%= book.comments.count %></small></h3>
		  </div>
		</div>
	</div>
<% end %>
<%= will_paginate @books %>