<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
        	<li><%= link_to 'Books', root_path, class: 'navbar-brand' %></li>
        	<% if user_signed_in? %>
        		<li><%= link_to "My Profile", edit_user_registration_path%> </li>
        		<li><%= link_to('Logout', destroy_user_session_path, :method => 'delete') %> </li>
                <% if current_user.role == "admin" %>
                    <%= render 'layouts/role/admin' %>
                <% elsif current_user.role == "moderator" %>
                    <%= render 'layouts/role/moderator' %>
                <% end %>
      		<% else %>
        		<li><%= link_to "Sign in", new_user_session_path%> </li>
        	<% end %>
        </ul>
        <%= render 'layouts/search' %>
    </div>
</nav>